<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ax.ha.it.smsalarm"
    android:versionCode="25"
    android:versionName="2.3.1beta">

    <instrumentation android:targetPackage="ax.ha.it.smsalarm" android:name="android.test.InstrumentationTestRunner"/>
    
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="22" />
    <uses-feature android:name="android.hardware.telephony" android:required="true"/>
    <uses-feature android:name="android.software.app_widgets" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.INTERNET" />
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" /> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />  
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" 
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS" 
        android:protectionLevel="normal" />
    
    <application android:label="@string/APPLICATION_NAME"
        android:enabled="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" 
        android:allowBackup="false" 
        android:name="ax.ha.it.smsalarm.application.SmsAlarmApplication">
        
        <meta-data
      		android:name="com.google.android.gms.version"
     		android:value="@integer/google_play_services_version" />
        
        <activity android:name="ax.ha.it.smsalarm.activity.Splash" android:label="@string/APPLICATION_NAME" android:noHistory="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />            
        	</intent-filter>       	
       	</activity>
        <activity android:name="ax.ha.it.smsalarm.activity.SmsAlarm" android:noHistory="false" android:launchMode="singleTask" android:label="@string/APPLICATION_NAME">
            <intent-filter>
 				<!-- Future intents and services for this activity goes here -->   
            </intent-filter>
        </activity> 
        <!-- This activity has another task affinity than the other tasks, this is to prevent opening of running activities when acknowledgement has been done -->      
        <activity android:name="ax.ha.it.smsalarm.activity.Acknowledge" android:noHistory="true" android:taskAffinity="" android:screenOrientation="portrait" android:label="@string/APPLICATION_NAME">
        </activity>        
        <receiver android:name="ax.ha.it.smsalarm.receiver.SmsReceiver" android:enabled="true" android:exported="true">
         	<intent-filter android:priority="999"> 
         		<action android:name="android.provider.Telephony.SMS_RECEIVED"/> 
         	</intent-filter> 
        </receiver>
        <receiver android:name="ax.ha.it.smsalarm.provider.WidgetProvider" >
            <intent-filter >
               	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
           	</intent-filter>
           	<meta-data android:name="android.appwidget.provider"
               	android:resource="@xml/widget_config" />
       	</receiver> 
       	<receiver android:name="ax.ha.it.smsalarm.receiver.NotificationReceiver" />
    	<receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver" android:enabled="true">
      		<intent-filter>
        		<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
      		</intent-filter>
    	</receiver>

       	<service android:name="com.google.android.gms.analytics.AnalyticsService" android:enabled="true" android:exported="false"/>
        <service android:name="ax.ha.it.smsalarm.service.NotificationService"></service>   
        <service android:name="ax.ha.it.smsalarm.service.AcknowledgeNotificationService"></service>
        <service android:name="ax.ha.it.smsalarm.service.FlashNotificationService"></service>
        <uses-library android:name="android.test.runner"/>
    </application>    
</manifest>